.BigDivArea {
  /* background-color: blue; */
  height:calc(100vh - 48px);
  width:100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.advanced-search-input {
  min-width: 90% !important;
  margin: 10px auto !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#search-toolbar button {
    margin-right: 10px;
}