.BigDivArea {
  /* background-color: blue; */
  height:calc(100vh - 48px);
  width:100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.advanced-search-input {
  min-width: 120px !important;
  margin: 10px !important;
}